{% extends 'base.html.twig' %}


{% block javascripts %}
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    $(function() {


      $( "#ciudad_provincia" ).autocomplete({
        source: "{{ path('autocomplete') }}",
        minLength: 2,
        search  : function(){$(this).addClass('ui-autocomplete-loading');},
        open    : function(){$(this).removeClass('ui-autocomplete-loading');},
        select: function( event, ui ) {

        }
      });
    });
    </script>

{% endblock %}

{% block title %}New Ciudad{% endblock %}

{% block body %}
    <h1>Create new Ciudad</h1>

    {{ include('ciudad/_form.html.twig') }}

    <a href="{{ path('ciudad_index') }}">back to list</a>
{% endblock %}
